.nowcast-container{
    max-width: 1200px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 25px;
    padding: 30px;
}

.wind-accordion-grid, .imd-nowcast-accordion-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
}

.wind-accordion-grid>*,.imd-nowcast-accordion-grid > * {
    flex: 1 1 calc(33.333% - 1rem); 
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .wind-accordion-grid,.imd-nowcast-accordion-grid {
        display: flex;
        flex-direction: column; 
    }
}

.dropdown-container {
    margin: 20px 0; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.dropdown-label {
    font-weight: bold;
    margin-bottom: 10px; 
}

.dropdown-select {
    padding: 15px; 
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f9f9f9; 
    font-size: 16px; 
    transition: border-color 0.3s; 
    width: 100%; 
    cursor: pointer; 
}

.third-party-radar-grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem; 
}

.third-party-radar-box1, .third-party-radar-box2, .third-party-radar-box3,.third-party-radar-box4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: white;
    border: 1px solid #ccc;
    text-decoration: underline;
    border-radius: 20px;
    text-align: center;
    height: 100px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.third-party-radar-box1 {
    background-image: url('/windy-logo.png');
    background-color: #A50700;

}

.third-party-radar-box2 {
    background-image: url('/accu-logo.png');
    background-color: white;
}

.third-party-radar-box3 {
    background-image: url('/rain-alarm.png');
    background-color: white;
}
.third-party-radar-box4 {
    background-image: url('/zoom-earth.png');
    background-color: white;
}


.third-party-radar-box1::before, .third-party-radar-box2::before,.third-party-radar-box3::before,.third-party-radar-box4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.619);
    border-radius: 20px; 
    z-index: 0; 
}

.third-party-radar-box1 > *, .third-party-radar-box2 > *,.third-party-radar-box3 > *,.third-party-radar-box4 > * {
    position: relative;
    z-index: 2;
}


@media (max-width: 768px) {
    .third-party-radar-grid-container {
        grid-template-columns: 1fr;
    }
    .third-party-radar-box1, .third-party-radar-box2, .third-party-radar-box3,.third-party-radar-box4 {
        height: 80px;
    }
}